.container {
  height: 100vh;
  background: var(--background-color);
}

.username-modal {
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;

  background-color: var(--background-color);
}

.username-modal .content {
  display: flex;
  flex-direction: column;
  gap: 16px;

  margin: 0 auto;

  max-width: 420px;

  padding: 24px;
  border-radius: 8px;

  background: #2B344C;
}

.username-modal .form {
  margin-top: 16px;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

.username-modal .form input {
  height: 40px;
  padding: 0 16px;
  background-color: #2B344C;

  border: 2px solid #797979;
  border-radius: 8px;

  color: #fff;

  width: 100%;
}

.username-modal .form input:focus {
  border: 2px solid #8179AD;
}

.username-modal .form input:hover::placeholder {
  color: #5E666A;
}

.username-modal .form input:focus::placeholder {
  color: #5E666A;
}

.username-modal .form input::placeholder {
  font-weight: 500;
  font-size: 14px;
}

.username-modal .form button {
  height: 40px;
  margin-top: 16px;

  /* border: 1px solid#797979; */
  border-radius: 8px;

  background-color: #8179AD;
  color: #fff;

  font-weight: bold;

  cursor: pointer;
}

.username-modal .form button:hover {
  opacity: 90%;
}

.container .chat {
  display: none;

  width: 100vw;
  height: 100vh;

  grid-template-areas:
    "line head"
    "side main"
    "side foot";

  grid-template-rows: 80px 1fr 96px;
  grid-template-columns: 300px 1fr;
}

.container .chat .line {
  grid-area: line;
  border-right: 1px solid #797979;
  border-bottom: 1px solid #797979;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 0 32px;
}

.container .chat .head {
  grid-area: head;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0 32px;

  border-bottom: 1px solid #797979;

  color: #fff;
}

.container .chat .side {
  grid-area: side;

  border-right: 1px solid #797979;

  display: flex;
  flex-direction: column;
}

.container .chat .foot {
  grid-area: foot;

  padding: 20px;
}

.container .chat .foot .form {
  grid-area: foot;

  background-color: #3C4358;
  border-radius: 20px;
  padding: 12px 24px;

  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.container .chat .foot .form input {
  height: 40px;

  background: transparent;
  border: 2px solid #797979;
  border-radius: 8px;

  padding: 0 16px;

  color: #fff;
  font-size: 16px;

  width: 100%;
}

.container .chat .foot .form input::placeholder {
  color: #797979;
  font-weight: 500;
  font-size: 14px;
}

.container .chat .foot .form button {
  height: 40px;
  width: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #8179AD;
  border-radius: 8px;

  color: #fff;
  font-size: 16px;
}

.container .chat .foot .form button:hover {
  cursor: pointer;
}

.container .chat .main {
  position: relative;

  grid-area: main;
  padding: 8px;
  /* padding-left: 32px;
  padding-right: 32px; */

  overflow: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column-reverse;
  overflow-anchor: auto in !important;
}

.container .chat .main header {
  position: absolute;
  top: 0;
  margin-top: 16px;
  width: 90%;

  background-color: var(--primary-color);
  color: #fff;

  height: 64px;

  border: 1px solid #797979;
  border-radius: 16px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 32px;
}

.head-container {
  display: flex;
  width: 99%;
  /* background-color: #8179AD; */
  height: 100px;
  position: absolute;
  top: 0;
  justify-content: center;
}

.status-info {
  display: flex;
  align-items: center;
  gap: 8px;
}

.color-status {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #10A760;
  /*#F30000 <- Se offline*/
}

.container .chat .main .messages {
  margin-top: 16px;
  display: grid;
}

.container .chat .main .message {
  position: relative;

  padding: 16px 24px;


  border-radius: 8px;

  margin: 16px 32px;
  display: grid;
}

.container .chat .main .message.owner {
  background: #4C5365;
  max-width: 42%;
  justify-self: right;
}

.container .chat .main .message.received {
  background: #5E666A;
  max-width: 42%;
  justify-self: left;
}

.container .chat .main .message.owner .salience {
  height: 20px;
  width: 20px;
  transform: rotate(45deg);
  position: absolute;
  background-color: #4C5365;
  top: 10px;
  right: -4px;
}

.container .chat .main .message.received .salience {
  height: 20px;
  width: 20px;
  transform: rotate(45deg);
  position: absolute;
  background-color: #5E666A;
  top: 10px;
  left: -4px;
}

.container .chat .main .message .username {
  font-size: 14px;
  font-weight: 600;
  font-style: italic;
}

.container .chat .main .message p {
  margin-top: 8px;
}

.container .chat .main .message .time {
  position: absolute;
  font-size: 16px;
  bottom: 0;
  right: -48px;
  color: #5E666A;
  font-weight: 400;
}

.container .chat .main .message.owner .time {
  left: -48px;
}

.container .chat .main .message.system {
  background: var(--primary-color);
  color: #fff;

  padding: 16px;

  border-radius: 8px;
  margin-top: 16px;

  max-width: 45%;

  font-size: 14px;
  justify-self: center;
}

.container .chat .main .message.system span {
  display: none;
}

.container .chat .main .message.system p {
  margin: 0;
}