@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}

:root {
  --background-color: #2A2E2F;  
  --primary-color: #2B344C;
  --secondary-color: #333843;
}

body {
  width: 100vw;
  height: 100vh;
  color: white;
}

input, button {
  border: none;
}